.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Quote {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: calc(10px + 2vmin);
  font-style: italic;
}

.Author {
  font-size: calc(2vmin);
}